name: Documentation

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  sphinx-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # synchronized with `.readthedocs.yml`
        python-version: ["3.8"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install .[docs]
    - name: Run sphinx-build
      run: |
        sphinx-build -n docs/source build/sphinx
